<!DOCTYPE html>
<html lang="en"> 
    <header class="site-header">
        <div class="container header-container">
            <div class="logo">
                <a href="index.html">
                    <img src="logo.png" alt="Site Logo">
                </a>

            <h1 class="site-title">Navigation Bar</h1>
            <title> Nav_bar</title>
            </div>

        <nav class = "main-navigation">
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="events.html">Upcoming Events</a></li>
                <li><a href="vendors.html">Vendor Community</a></li>
                <li><a href="login.html">Sign In </a></li>
                <li><a href="contact.html">Register</a></li>
            </ul>
        </nav>

        </div>


    </header>




</html>"